<h3>Vehicle Models</h3>
<form #form="ngForm" (ngSubmit)="addModel(form)">

  <div class="form-group">
    <input type="text" class="form-control" id="modelTitle" placeholder="Model Title" name="name" #modelTitle="ngModel" ngModel required>
    <div class="alert alert-danger" *ngIf="modelTitle.touched && modelTitle.errors">Model title is required.</div>
  </div>
  <label for="make">Choose a Make</label>
  <select id="make" class="form-control" ngModel name="makeId" required #make="ngModel">
    <option *ngFor="let make of makes" [value]="make.id">{{make.name}}</option>
  </select>
  <div class="alert alert-danger" *ngIf="make.touched && make.errors">Make is required.</div>
  <button type="submit" class="btn btn-primary my-2" [disabled]="form.invalid">Add</button>
</form>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Model</th>
      <th scope="col">Make</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let model of models">
      <th>{{model.id}}</th>
      <td>{{model.name}}</td>
      <td>{{model.make.name}}</td>
      <td></td>
      <td><button class="btn-primary btn" [routerLink]="['/models/edit/' + model.id]">Update</button><button class="btn-danger btn ms-2" (click)="deleteModel(model.id!)">Delete</button></td>
    </tr>

  </tbody>
</table>
