<h3>Vehicle Makes</h3>
<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Make Title" [(ngModel)] = "makeTitle">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click) ="addMake()">Add</button>
  </div>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Make</th>
      <th scope="col">Models</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor ="let make of makes">
      <th>{{make.id}}</th>
      <td>{{make.name}}</td>
      <td></td>
      <td><button class="btn-primary btn" [routerLink]="['/makes/edit/' + make.id]">Update</button><button  class="btn-danger btn ms-2" (click) ="deleteMake(make.id!)">Delete</button></td>
    </tr>
   
  </tbody>
</table>
